target
result

# Dotenv file
.env

*/node_modules
*/.next

*/*/artifacts
/*/node_modules
/*/dist
/*/build
/*/.next


/jsons

.direnv/

### Foundry
# Compiler files
cache/
out/
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
# Docs
docs/
# Dotenv file
.env
lib/
# Sol json
soljson-*.js
